@charset "UTF-8";

@font-face {
  font-family: 'Aston Script';
  src: url('../fonts/aston-script.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
}

h1 {
  color: white;
  font-family: 'Aston Script';
  font-size: 8vw;
}
